html {
  font-family: 'Press Start 2P', cursive;
  background-image: url("https://cdn.pixabay.com/photo/2014/05/27/23/32/matrix-356024_960_720.jpg");
    background-repeat: repeat-x;
    background-position: centre;
    margin-right: 0px;
    background-attachment: fixed;
}

h1 {
  color: green;
  font-size: 20px;
  text-align: left;
  text-shadow: 1px 1px 1px black;
}

h2, h3 {
  color: green;
  font-size: 8px;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  line-height: 5;
}

p, li {
  color: green;
  font-size: 9px;    
  line-height: 3;
  letter-spacing: 1px;
  
}

body {
  width: 650px;
  margin: 0 auto;
  background-color: black;
  padding: 20px 55px 20px 55px;
  border: 1px solid green;
}