html {
  font-family: 'Press Start 2P', cursive;
  background-image: url("https://cdn.pixabay.com/photo/2014/05/27/23/32/matrix-356024_960_720.jpg");
    background-repeat: repeat-x;
    background-position: centre;
    margin-right: 0px;
    background-attachment: fixed;
}

h1 {
  color: green;
  font-size: 20px;
  text-align: left;
  text-shadow: 1px 1px 1px black;
}

h2 {
    color: green;
    font-size: 12px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
    line-height: 5;
  }

h3 {
  color: green;
  font-size: 8px;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  line-height: 5;
}

p, li {
  margin-right: 150px;
  color: green;
  font-size: 9px;    
  line-height: 3;
  letter-spacing: 1px;
  
}

body {
  width: 650px;
  margin: 0 auto;
  background-color: black;
  padding: 20px 55px 20px 55px;
  border: 1px solid green;
}

.sidebar {
    position: absolute;
    top: 210px;
    margin-left: 520px;
    padding-left: 10px;
    background: green;
    color: black;
    width: 176px;
}

.wrapper {
    width: 175px;
    margin: 0 auto;
}

.inverttext {
    color: black;
    background-color: green;
}

/*The code below is supposed to help the content wrap around the sidebar though A) I dont need it atm? B) I don't think it works with the code I already have. I want to remember this for later in case I need it
.content-sidebar-wrap {display:table;}
    .content {display:table-footer-group; float: none;}
    .sidebar {display:table-header-group; float: none;}*/